# logs
logs
*.log
npm-debug.log

# os
.DS_Store
.tmp

# node
node_modules
package-lock.json

# python
*.py[co]
__pycache__

# runtime data
pids
*.pid
*.seed
dist

# serverless
admin.env
.env
_meta
.serverless/