<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>AWS Auto Cleanup</title>
    <meta name="title" content="AWS Auto Cleanup" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Open-source application to programmatically clean your AWS resources based on a allowlist and time to live (TTL) settings"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AWS Auto Cleanup" />
    <meta
      property="og:description"
      content="Open-source application to programmatically clean your AWS resources based on a allowlist and time to live (TTL) settings"
    />
    <meta
      property="og:image"
      content="https://github.com/servian/aws-auto-cleanup/raw/master/static/banner.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="AWS Auto Cleanup" />
    <meta
      property="twitter:description"
      content="Open-source application to programmatically clean your AWS resources based on a allowlist and time to live (TTL) settings"
    />
    <meta
      property="twitter:image"
      content="https://github.com/servian/aws-auto-cleanup/raw/master/static/banner.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.12.1/css/dataTables.bulma.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bulma.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
      integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <!-- Header -->
      <nav
        class="navbar is-dark"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="img/logo.svg" style="height: 18px" />
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"> AWS Auto Cleanup </a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Menu</a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" v-on:click="openHelpPopup()">
                <span class="icon">
                  <i class="fas fa-question"></i>
                </span>
                <span>Help</span>
              </a>
              <a class="navbar-item">
                <span class="icon">
                  <i class="fab fa-aws"></i>
                </span>
                <span>{{accountId}}</span>
              </a>
              <a class="navbar-item" v-on:click="resetApiKey()">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Reset API Key</span>
              </a>
              <hr class="navbar-divider" />
              <a
                class="navbar-item"
                href="https://github.com/servian/aws-auto-cleanup/"
              >
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>servian/aws-auto-cleanup</span>
              </a>
            </div>
          </div>
        </div>
      </nav>

      <!-- Body -->
      <div class="container body-container">
        <article class="message" id="allowlist-message">
          <div class="message-header">
            <p class="modal-card-title" style="color: white;">Allowlist</p>
            <div class="field is-grouped">
              <div class="field has-addons" style="margin-bottom: 0% !important;">
                <p class="control">
                  <button
                    class="button is-link"
                    id="show-temporary-allowlist-button"
                    v-on:click="showTemporaryAllowlist()"
                  >Temporary</button>
                </p>
                <p class="control">
                  <button
                    class="button is-white"
                    id="show-permanent-allowlist-button"
                    v-on:click="showPermanentAllowlist()"
                  >Permanent</button>
                </p>
              </div>
              <p class="control is-expanded">
                <div class="control has-icons-left is-right">
                  <input
                    class="input"
                    placeholder="Search"
                    type="text"
                    v-model="allowlistSearchTerm"
                    v-on:keyup="searchAllowlist()"
                  />
                  <span class="icon is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
              </p>
              <p class="control" id="allowlist-paginate"></p>
              <p class="control">
                <button
                  class="button is-white"
                  v-on:click="expandAllowlist()"
                >
                  <span class="icon"> <i id="allowlist-expand-icon" class="fas fa-up-right-and-down-left-from-center"></i> </span>
                </button>
              </p>
              <p class="control">
                <button
                  class="button is-warning"
                  v-on:click="openAllowlistInsertPopup()"
                >
                  <span class="icon"> <i class="fas fa-plus"></i> </span>
                </button>
              </p>
            </div>
          </div>
          <div class="message-body" id="allowlist-message-body" style="max-height: calc(36vh); overflow-y:auto">
            <table
              id="allowlist"
              class="table responsive nowrap"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Resource</th>
                  <th>ID</th>
                  <th>Expiration</th>
                  <th class="none">Owner</th>
                  <th class="none">Comment</th>
                  <th>Type</th>
                  <th style="text-align: center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in allowlist" :key="item.row_id">
                  <td>{{ item.service }}</td>
                  <td>{{ item.resource }}</td>
                  <td>{{ item.id }}</td>
                  <td>
                    <span
                      v-if="item.expiration < '4102444800'"
                      :title="item.expiration_tooltip"
                      >{{ item.expiration_readable }}</span
                    >
                  </td>
                  <td>{{ item.owner }}</td>
                  <td>{{ item.comment }}</td>
                  <td>
                    <span v-if="item.expiration < '4102444800'">Temporary</span>
                    <span v-if="item.expiration >= '4102444800'">Permanent</span>
                  </td>
                  <td style="text-align: center">
                    <button
                      class="button is-warning"
                      v-if="item.expiration < '4102444800'"
                      v-on:click="extendAllowlistEntry( item.row_id )"
                    >
                      <span class="icon">
                        <i class="far fa-calendar-plus"></i>
                      </span>
                    </button>
                    <button
                      class="button is-danger"
                      v-if="item.expiration < '4102444800'"
                      v-on:click="openAllowlistDeletePopup( item.resource_id )"
                    >
                      <span class="icon">
                        <i class="far fa-trash-alt"></i>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
        
        <!-- Refreshing Animation -->
        <div
          class="container has-text-centered"
          v-show="showAllowlistLoadingGif"
        >
          <button class="button is-warning is-loading">Loading</button>
        </div>
        <br />

        <!-- Execution Log -->
        <article class="message" id="execution-log-message">
          <div class="message-header" style="height: 64px;">
            <p class="modal-card-title" style="color: white;">Execution Log</p>
            <div class="field is-grouped">
              <p class="control" id="execution-log-list-table-paginate"></p>
              <p class="control">
                <button
                  class="button is-white"
                  v-on:click="expandExecutionLog()"
                >
                  <span class="icon"> <i id="execution-log-expand-icon" class="fas fa-up-right-and-down-left-from-center"></i> </span>
                </button>
              </p>
            </div>
          </div>
          <div class="message-body" id="execution-log-message-body" style="max-height: calc(36vh); overflow-y:auto">
            <table id="execution-log-list-table" class="table">
              <thead>
                <th>Log</th>
                <th>Date</th>
                <th>View</th>
              </thead>
              <tbody>
                <tr v-for="item in executionLogList" :value="item" :key="item.key">
                  <td>{{ item.key }}</td>
                  <td>{{ item.local_date }}</td>
                  <td>
                    <button
                      v-on:click="openExecutionLog( item.key_escape )"
                      target="_blank"
                      class="button"
                    >
                      <span class="icon">
                        <i class="fas fa-arrow-up-right-from-square"></i>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>

        
        <!-- Refreshing Animation -->
        <div
          class="container has-text-centered"
          v-show="showExecutionLogListLoadingGif"
        >
          <button class="button is-normal is-warning is-loading">
            Loading
          </button>
        </div>

        <!-- Popup: Exec Log Table -->
        <div
          class="modal"
          id="execution-log-popup"
          v-bind:class="{ 'is-active': showExecutionLogPopup }"
        >
          <div
            class="modal-background"
            v-on:click="closeExecutionLogPopup()"
          ></div>
          <div class="modal-card execution-log-modal">
            <header class="modal-card-head">
              <div
                class="modal-card-title is-vcentered field has-addons"
                style="
                  line-height: unset !important;
                  margin-bottom: 0px !important;
                "
              >
                <p class="control">
                  <span
                    class="button is-danger"
                    v-if="executionLogMode === 'Destroy'"
                    ><span class="icon is-small">
                      <i class="fas fa-exclamation"></i> </span
                    ><span>{{executionLogMode}}</span>
                  </span>
                  <span
                    class="button is-success"
                    v-if="executionLogMode === 'Dry Run'"
                    ><span class="icon is-small">
                      <i class="fas fa-check"></i> </span
                    ><span>{{executionLogMode}}</span>
                  </span>
                </p>
                <p class="control">
                  <span class="button">{{executionLogKey}}</span>
                </p>
              </div>
              <button
                aria-label="close"
                class="delete"
                v-on:click="closeExecutionLogPopup()"
              ></button>
            </header>
            <div
              class="modal-card-body"
              style="
                width: calc(100vw - 40px) !important;
                border-radius: 0px !important;
              "
            >
              <div class="content">
                <div class="container is-fluid p-0">
                  <div id="logs" class="content-tab">
                    <table id="execution-log-table" class="table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>Region</th>
                          <th>Service</th>
                          <th>Resource</th>
                          <th>ID</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div
                    id="statistics"
                    class="content-tab"
                    style="display: none"
                  >
                    <div class="columns">
                      <div class="column">
                        <table id="execution-log-table" class="table">
                          <thead>
                            <tr>
                              <th>Resource</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogServiceStats).sort()"
                            >
                              <td>{{key}}</td>
                              <td>{{executionLogServiceStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="column">
                        <table id="execution-log-table" class="table">
                          <thead>
                            <tr>
                              <th>Action</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogActionStats).sort()"
                            >
                              <td>{{key}}</td>
                              <td>{{executionLogActionStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="column">
                        <table id="execution-log-table" class="table">
                          <thead>
                            <tr>
                              <th>Region</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogRegionStats).sort()"
                            >
                              <td>{{key}}</td>
                              <td>{{executionLogRegionStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="container has-text-centered"
                  v-show="showExecutionLogLoadingGif"
                >
                  <button
                    class="button is-warning is-loading"
                    style="margin-top: 20px"
                  >
                    Loading
                  </button>
                </div>
              </div>
            </div>
            <footer class="modal-card-foot">
              <div class="level" style="width: 100%">
                <div class="level-left">
                  <div
                    class="level-item tabs is-toggle"
                    style="margin-bottom: 0px !important"
                  >
                    <ul class="m-0">
                      <li class="tab is-active" onclick="openTab(event,'logs')">
                        <a>
                          <span class="icon is-small"
                            ><i class="fas fa-bars" aria-hidden="true"></i
                          ></span>
                          <span>Logs</span>
                        </a>
                      </li>
                      <li class="tab" onclick="openTab(event,'statistics')">
                        <a>
                          <span class="icon is-small"
                            ><i class="far fa-chart-bar" aria-hidden="true"></i
                          ></span>
                          <span>Statistics</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="level-item control has-icons-left">
                    <input
                      class="input"
                      placeholder="Search (⏎ to search)"
                      type="text"
                      v-model="executionLogSearchTerm"
                      v-on:keyup.enter="searchExecutionLog()"
                    />
                    <span class="icon is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item" id="execution-log-table-info"></div>
                  <div
                    class="level-item"
                    id="execution-log-table-paginate"
                  ></div>
                </div>
              </div>
            </footer>
            <!-- .box -->
          </div>
          <!-- .model-content -->
        </div>

        <!-- Popup: Add Allowlist Rule -->
        <div
          class="modal"
          v-bind:class="{ 'is-active': showAllowlistPopup }"
          id="add-allowlist"
        >
          <div
            class="modal-background"
            v-on:click="closeAllowlistInsertPopup()"
          ></div>
          <div class="modal-card add-allowlist-modal">
            <form action="#" v-on:submit.prevent="createAllowlistEntry()">
              <header class="modal-card-head">
                <p class="modal-card-title">Add Allowlist Entry</p>
                <button
                  aria-label="close"
                  class="delete"
                  v-on:click="closeAllowlistInsertPopup()"
                ></button>
              </header>
              <section class="modal-card-body">
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Service</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            tabindex="1"
                            v-model="selectedService"
                            v-on:change="updateResourceList(selectedService)"
                          >
                            <option v-for="item of serviceList">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="field">
                      <label class="label">Resource</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            tabindex="2"
                            v-model="selectedResource"
                            v-on:change="updateResourceId(selectedService, selectedResource)"
                          >
                            <option v-for="item of resourceList">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label"
                    >ID
                    <span
                      style="
                        font-size: x-small;
                        font-weight: normal;
                        vertical-align: middle;
                      "
                      >(supports
                      <a
                        href="https://github.com/servian/aws-auto-cleanup/tree/main/app#wildcard"
                        target="_blank"
                        >wildcards</a
                      >)</span
                    ></label
                  >
                  <div class="control has-icons-left">
                    <input
                      :placeholder="[[ resourceIdPlaceholder ]]"
                      class="input"
                      required
                      tabindex="3"
                      type="text"
                      v-model="selectedResourceId"
                    />
                    <span class="icon is-small is-left"
                      ><i class="fas fa-id-card"></i
                    ></span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Owner</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      placeholder="Email address"
                      required
                      tabindex="4"
                      type="email"
                      v-model="selectedOwner"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-at"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Comment</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      placeholder="Reason for allowlisting"
                      required
                      tabindex="5"
                      type="text"
                      v-model="selectedComment"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-comment-alt"></i>
                    </span>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success" tabindex="6">Add</button>
                <button class="button" v-on:click="closeAllowlistInsertPopup()">
                  Cancel
                </button>
              </footer>
            </form>
          </div>
        </div>

        <!-- Popup: Delete Allowlist Rule -->
        <div
          class="modal"
          id="delete-allowlist"
          v-bind:class="{ 'is-active': showAllowlistDeletePopup }"
        >
          <div
            class="modal-background"
            v-on:click="closeAllowlistDeletePopup()"
          ></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Delete Allowlist Entry</p>
              <button
                class="delete"
                aria-label="close"
                v-on:click="closeAllowlistDeletePopup()"
              ></button>
            </header>
            <section class="modal-card-body">
              <span
                >Are you sure you want to delete
                <strong>{{selectedResourceId}}</strong>?</span
              >
            </section>
            <footer class="modal-card-foot">
              <button
                class="button is-danger"
                v-on:click="deleteAllowlistEntry(selectedResourceId)"
              >
                Delete
              </button>
              <button class="button" v-on:click="closeAllowlistDeletePopup()">
                Cancel
              </button>
            </footer>
          </div>
        </div>
      </div>

      <div
        class="modal"
        id="apiKey"
        v-bind:class="{ 'is-active': showApiKeyPopup }"
      >
        <div class="modal-background"></div>
        <div class="modal-card">
          <form action="#" v-on:submit.prevent="setApiKey()">
            <header class="modal-card-head">
              <p class="modal-card-title">Enter API Key</p>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">API Key</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    required
                    tabindex="1"
                    type="password"
                    v-model="apiKey"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" tabindex="2">Save</button>
            </footer>
          </form>
        </div>
      </div>

      <div
        class="modal"
        id="help"
        v-bind:class="{ 'is-active': showHelpPopup }"
      >
        <div class="modal-background" v-on:click="closeHelpPopup()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">AWS Auto Cleanup Help</p>
            <button
              class="delete"
              aria-label="close"
              v-on:click="closeHelpPopup()"
            ></button>
          </header>
          <section class="modal-card-body">
            <div class="content">
              <p>
                AWS Auto Cleanup helps clean up your AWS resources, keeping your
                AWS accounts neat and tidy whilst reducing costs. AWS Auto
                Cleanup uses a combination of user-defined allowlists and
                time-based policies to delete resources that are no longer
                needed.
              </p>
              <h2>Allowlist</h2>
              <p>
                The allowlist maintains a record of all AWS resources that have
                been preserved. During the execution of Auto Cleanup, the
                scanned resources will be checked against the allowlist. If the
                resource exists within the allowlist table, it will not be
                deleted.
              </p>
              <h2>Services</h2>
              <p>
                The table below details AWS services, resources, default TTLs,
                and whether that particular resource is monitored and cleaned.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>Resource</th>
                    <th>TTL (days)</th>
                    <th>Enabled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in serviceSettingsFlat">
                    <td>{{ item.service }}</td>
                    <td>{{ item.resource }}</td>
                    <td>{{ item.ttl }}</td>
                    <td>{{ item.enabled }}</td>
                  </tr>
                </tbody>
              </table>
              <h2>Execution Log</h2>
              <p>
                After every Auto Cleanup run, an execution log is generated and
                stored as a CSV file within an S3 Bucket. The execution log
                details the actions taken for each AWS service and resource that
                was scanned and identified.
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" v-on:click="closeHelpPopup()">
              OK
            </button>
          </footer>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="footer">
      <div class="content has-text-centered">
      </div>
    </footer> -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.4/vue.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/1.12.1/js/dataTables.bulma.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/rowgroup/1.2.0/js/dataTables.rowGroup.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bulma.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/dayjs.min.js"
      integrity="sha512-u7elBfdMr+7LhU4rvUk3IM28QZDKTyUxba4Nx2IJ1W9cj4shfRSPq7EZXD2ULD9cBoizw2FQyeR6YBog6LcnHg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"
      integrity="sha512-EAKzSKex+PXC0U9OG13r1059ysjrjkJEpZoONCnZa0mBROY28iBOOxZSErUVw1LzLr2+U5PhR7zPCPKidUVJqg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/utc.min.js"
      integrity="sha512-+lztPB4upMyG9pLdOWl8MFsBhXM1V9vFTDhXV3/4VSdoqpR5RfA2bNdrl8n0F9HmbzFkNqmOBdZw580qfRU01Q=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/timezone.min.js"
      integrity="sha512-3QnyXIdU85C6rOXhHzVsXinI5/qM/LniMr5actNRUwyp1Tuurw7rOn7fX7WWoNyZuM7KlQxITGQI4ITCgXKGQA=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
  </body>
</html>
