<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>AWS Auto Cleanup</title>
    <meta name="title" content="AWS Auto Cleanup" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Open-source application to programmatically clean your AWS resources based on a whitelist and time to live (TTL) settings"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AWS Auto Cleanup" />
    <meta
      property="og:description"
      content="Open-source application to programmatically clean your AWS resources based on a whitelist and time to live (TTL) settings"
    />
    <meta
      property="og:image"
      content="https://github.com/servian/aws-auto-cleanup/raw/master/static/banner.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="AWS Auto Cleanup" />
    <meta
      property="twitter:description"
      content="Open-source application to programmatically clean your AWS resources based on a whitelist and time to live (TTL) settings"
    />
    <meta
      property="twitter:image"
      content="https://github.com/servian/aws-auto-cleanup/raw/master/static/banner.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
      integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
      integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <!-- Header -->
      <nav
        class="navbar is-dark"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="img/logo.svg" style="height: 18px" />
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"> AWS Auto Cleanup </a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Menu</a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" v-on:click="openHelpPopup()">
                <span class="icon">
                  <i class="fas fa-question"></i>
                </span>
                <span>Help</span>
              </a>
              <a class="navbar-item">
                <span class="icon">
                  <i class="fab fa-aws"></i>
                </span>
                <span>{{accountId}}</span>
              </a>
              <a class="navbar-item" v-on:click="resetApiKey()">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Reset API Key</span>
              </a>
              <hr class="navbar-divider" />
              <a
                class="navbar-item"
                href="https://github.com/servian/aws-auto-cleanup/"
              >
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>servian/aws-auto-cleanup</span>
              </a>
            </div>
          </div>
        </div>
      </nav>

      <!-- Body -->
      <div class="container body-container">
        <nav class="level">
          <div class="level-left">
            <h3 class="title is-3 mb-0 mr-2">Whitelist</h3>
            <!-- <h2 class="title">Whitelist</h2> -->
            <button
              class="button is-warning"
              v-on:click="openWhitelistInsertPopup()"
            >
              <span class="icon"> <i class="fas fa-plus"></i> </span>
              <span>New Entry</span>
            </button>
          </div>
          <div class="level-right">
            <div class="control has-icons-left is-right">
              <input
                class="input"
                placeholder="Search"
                type="text"
                v-model="whitelistSearchTerm"
                v-on:keyup="searchWhitelist()"
              />
              <span class="icon is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </nav>
        <table class="table" id="whitelist">
          <thead>
            <tr>
              <th>Service</th>
              <th>Resource</th>
              <th>ID</th>
              <th>Expiration</th>
              <th>Owner</th>
              <th>Comment</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in whitelist" :key="item.row_id">
              <td style="white-space: nowrap">{{ item.service }}</td>
              <td style="white-space: nowrap">{{ item.resource }}</td>
              <td style="white-space: nowrap">{{ item.id }}</td>
              <td style="white-space: nowrap">
                <span v-if="item.expiration < '4102444800'"
                  >{{ item.expiration_readable }}</span
                >
              </td>
              <td style="white-space: nowrap">{{ item.owner }}</td>
              <td>{{ item.comment }}</td>
              <td>
                <span v-if="item.expiration < '4102444800'">Temporary</span>
                <span v-if="item.expiration >= '4102444800'">Permanent</span>
              </td>
              <td style="white-space: nowrap">
                <button
                  class="button is-warning"
                  v-if="item.expiration < '4102444800'"
                  v-on:click="extendWhitelistEntry( item.row_id )"
                >
                  <span class="icon">
                    <i class="far fa-calendar-plus"></i>
                  </span>
                </button>
                <button
                  class="button is-danger"
                  v-if="item.expiration < '4102444800'"
                  v-on:click="openWhitelistDeletePopup( item.resource_id )"
                >
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Refreshing Animation -->
        <div
          class="container has-text-centered"
          v-show="showWhitelistLoadingGif"
        >
          <button class="button is-warning is-loading">Loading</button>
        </div>
        <br />

        <!-- Execution Log -->
        <nav class="level">
          <div class="level-left">
            <h3 class="title is-3 mt-2 mb-0 mr-2">Execution Logs</h3>
          </div>
        </nav>

        <table class="table" id="execution-log-list-table">
          <thead>
            <th>Log</th>
            <th>Date</th>
            <th>View</th>
          </thead>
          <tbody>
            <tr v-for="item in executionLogList" :value="item" :key="item.key">
              <td>{{ item.key }}</td>
              <td>{{ item.date }}</td>
              <td>
                <button
                  v-on:click="openExecutionLog( item.key_escape )"
                  target="_blank"
                  class="button"
                >
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Refreshing Animation -->
        <div
          class="container has-text-centered"
          v-show="showExecutionLogListLoadingGif"
        >
          <button class="button is-normal is-warning is-loading">
            Loading
          </button>
        </div>

        <!-- Popup: Exec Log Table -->
        <div
          class="modal"
          id="execution-log-popup"
          v-bind:class="{ 'is-active': showExecutionLogPopup }"
        >
          <div
            class="modal-background"
            v-on:click="closeExecutionLogPopup()"
          ></div>
          <div class="modal-content execution-log-modal">
            <header class="modal-card-head">
              <p
                class="modal-card-title is-vcentered"
                style="line-height: unset !important"
              >
                <button
                  class="button is-danger"
                  v-if="executionLogMode === 'Destroy'"
                >
                  <span>{{executionLogMode}}</span>
                </button>
                <button
                  class="button is-success"
                  v-if="executionLogMode === 'Dry Run'"
                >
                  <span>{{executionLogMode}}</span>
                </button>
                <span>{{executionLogKey}}</span>
              </p>
              <button
                aria-label="close"
                class="delete"
                v-on:click="closeExecutionLogPopup()"
              ></button>
            </header>
            <div class="box" style="border-radius: 0px !important">
              <div class="content">
                <nav class="level">
                  <div class="level-left">
                    <div class="tabs is-toggle">
                      <ul class="m-0">
                        <li
                          class="tab is-active"
                          onclick="openTab(event,'logs')"
                        >
                          <a>
                            <span class="icon is-small"
                              ><i class="fas fa-bars" aria-hidden="true"></i
                            ></span>
                            <span>Logs</span>
                          </a>
                        </li>
                        <li class="tab" onclick="openTab(event,'statistics')">
                          <a>
                            <span class="icon is-small"
                              ><i
                                class="far fa-chart-bar"
                                aria-hidden="true"
                              ></i
                            ></span>
                            <span>Statistics</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="control has-icons-left is-right">
                      <input
                        class="input"
                        placeholder="Search"
                        type="text"
                        v-model="executionLogSearchTerm"
                        v-on:keyup="searchExecutionLog()"
                      />
                      <span class="icon is-left">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                  </div>
                </nav>
                <div class="container is-fluid p-0">
                  <div id="logs" class="content-tab">
                    <table class="table" id="execution-log-table">
                      <thead>
                        <tr>
                          <th>Timestamp</th>
                          <th>Region</th>
                          <th>Service</th>
                          <th>Resource</th>
                          <th>ID</th>
                          <th>Action</th>
                          <th>Whitelist</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in executionLogTable" :key="item.id">
                          <td style="white-space: nowrap">{{ item[6] }}</td>
                          <td style="white-space: nowrap">{{ item[1] }}</td>
                          <td style="white-space: nowrap">{{ item[2] }}</td>
                          <td style="white-space: nowrap">{{ item[3] }}</td>
                          <td>{{ item[4] }}</td>
                          <td style="white-space: nowrap">{{ item[5] }}</td>
                          <td style="white-space: nowrap">
                            <button
                              class="button is-warning"
                              v-if="(executionLogMode === 'Dry Run' && item[5] !== 'SKIP - WHITELIST') || (item[5] === 'SKIP - IN USE' || item[5] === 'SKIP - TTL')"
                              v-on:click="createWhitelistEntryFromExecutionLog( item[2], item[3], item[4] )"
                            >
                              <span class="icon">
                                <i class="fas fa-plus"></i>
                              </span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div
                    id="statistics"
                    class="content-tab"
                    style="display: none"
                  >
                    <div class="columns">
                      <div class="column">
                        <table class="table" id="execution-log-table">
                          <thead>
                            <tr>
                              <th>Resource</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogServiceStats).sort()"
                            >
                              <td style="white-space: nowrap">{{key}}</td>
                              <td>{{executionLogServiceStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="column">
                        <table class="table" id="execution-log-table">
                          <thead>
                            <tr>
                              <th>Action</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogActionStats).sort()"
                            >
                              <td style="white-space: nowrap">{{key}}</td>
                              <td>{{executionLogActionStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="column">
                        <table class="table" id="execution-log-table">
                          <thead>
                            <tr>
                              <th>Region</th>
                              <th>Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="key in Object.keys(executionLogRegionStats).sort()"
                            >
                              <td style="white-space: nowrap">{{key}}</td>
                              <td>{{executionLogRegionStats[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="container has-text-centered"
                  v-show="showExecutionLogLoadingGif"
                >
                  <button class="button is-warning is-loading">Loading</button>
                </div>
              </div>
            </div>
            <!-- .box -->
          </div>
          <!-- .model-content -->
        </div>

        <!-- Popup: Add Whitelist Rule -->
        <div
          class="modal"
          v-bind:class="{ 'is-active': showWhitelistPopup }"
          id="add-whitelist"
        >
          <div
            class="modal-background"
            v-on:click="closeWhitelistInsertPopup()"
          ></div>
          <div class="modal-card add-whitelist-modal">
            <form action="#" v-on:submit.prevent="createWhitelistEntry()">
              <header class="modal-card-head">
                <p class="modal-card-title">Add Whitelist Entry</p>
                <button
                  aria-label="close"
                  class="delete"
                  v-on:click="closeWhitelistInsertPopup()"
                ></button>
              </header>
              <section class="modal-card-body">
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Service</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            tabindex="1"
                            v-model="selectedService"
                            v-on:change="updateResourceList(selectedService)"
                          >
                            <option v-for="item of serviceList">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="field">
                      <label class="label">Resource</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            tabindex="2"
                            v-model="selectedResource"
                            v-on:change="updateResourceId(selectedService, selectedResource)"
                          >
                            <option v-for="item of resourceList">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label">ID</label>
                  <div class="control has-icons-left">
                    <input
                      :placeholder="[[ resourceIdPlaceholder ]]"
                      class="input"
                      required
                      tabindex="3"
                      type="text"
                      v-model="selectedResourceId"
                    />
                    <span class="icon is-small is-left"
                      ><i class="fas fa-id-card"></i
                    ></span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Owner</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      placeholder="Email address"
                      required
                      tabindex="4"
                      type="email"
                      v-model="selectedOwner"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-at"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Comment</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      placeholder="Reason for whitelisting"
                      required
                      tabindex="5"
                      type="text"
                      v-model="selectedComment"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-comment-alt"></i>
                    </span>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success" tabindex="6">Add</button>
                <button class="button" v-on:click="closeWhitelistInsertPopup()">
                  Cancel
                </button>
              </footer>
            </form>
          </div>
        </div>

        <!-- Popup: Delete Whitelist Rule -->
        <div
          class="modal"
          id="delete-whitelist"
          v-bind:class="{ 'is-active': showWhitelistDeletePopup }"
        >
          <div
            class="modal-background"
            v-on:click="closeWhitelistDeletePopup()"
          ></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Delete Whitelist Entry</p>
              <button
                class="delete"
                aria-label="close"
                v-on:click="closeWhitelistDeletePopup()"
              ></button>
            </header>
            <section class="modal-card-body">
              <span
                >Are you sure you want to delete
                <strong>{{selectedResourceId}}</strong>?</span
              >
            </section>
            <footer class="modal-card-foot">
              <button
                class="button is-danger"
                v-on:click="deleteWhitelistEntry(selectedResourceId)"
              >
                Delete
              </button>
              <button class="button" v-on:click="closeWhitelistDeletePopup()">
                Cancel
              </button>
            </footer>
          </div>
        </div>
      </div>

      <div
        class="modal"
        id="apiKey"
        v-bind:class="{ 'is-active': showApiKeyPopup }"
      >
        <div class="modal-background"></div>
        <div class="modal-card">
          <form action="#" v-on:submit.prevent="setApiKey()">
            <header class="modal-card-head">
              <p class="modal-card-title">Enter API Key</p>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">API Key</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    required
                    tabindex="1"
                    type="password"
                    v-model="apiKey"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" tabindex="2">Save</button>
            </footer>
          </form>
        </div>
      </div>

      <div
        class="modal"
        id="help"
        v-bind:class="{ 'is-active': showHelpPopup }"
      >
        <div class="modal-background" v-on:click="closeHelpPopup()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">AWS Auto Cleanup Help</p>
            <button
              class="delete"
              aria-label="close"
              v-on:click="closeHelpPopup()"
            ></button>
          </header>
          <section class="modal-card-body">
            <div class="content">
              <p>
                AWS Auto Cleanup is an open-source application to
                programmatically clean AWS resources based on a Whitelist and
                time-to-live (TTL) settings.
              </p>
              <h2>Whitelist</h2>
              <p>
                The whitelist maintains a record of all AWS resources that have
                been preserved. During the execution of Auto Cleanup, the
                scanned resources will be checked against the whitelist. If the
                resource exists within the whitelist table, it will not be
                deleted.
              </p>
              <h2>Services</h2>
              <p>
                The table below details AWS services, resources, default TTLs,
                and whether that particular resource is monitored and cleaned.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>Resource</th>
                    <th>TTL (days)</th>
                    <th>Enabled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in serviceSettingsFlat">
                    <td>{{ item.service }}</td>
                    <td>{{ item.resource }}</td>
                    <td>{{ item.ttl }}</td>
                    <td>{{ item.enabled }}</td>
                  </tr>
                </tbody>
              </table>
              <h2>Execution Log</h2>
              <p>
                Post every Auto Cleanup run, an execution log is generated and
                stored as a flat CSV file within an S3 Bucket. The execution log
                details the actions taken for each AWS service and resource that
                was scanned and identified.
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" v-on:click="closeHelpPopup()">
              OK
            </button>
          </footer>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="footer">
      <div class="content has-text-centered">
      </div>
    </footer> -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
      integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-rowgroup/1.1.2/dataTables.rowGroup.min.js"
      integrity="sha512-ock7SbKoWBDD9MiniUi9p7WlkqpfRL1sM3CsWX7LxORuyLPRyzR484V8SVrTIWqhxtCVNnfcbOo+cRlHIhiwbg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/dayjs.min.js"
      integrity="sha512-u7elBfdMr+7LhU4rvUk3IM28QZDKTyUxba4Nx2IJ1W9cj4shfRSPq7EZXD2ULD9cBoizw2FQyeR6YBog6LcnHg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/utc.min.js"
      integrity="sha512-+lztPB4upMyG9pLdOWl8MFsBhXM1V9vFTDhXV3/4VSdoqpR5RfA2bNdrl8n0F9HmbzFkNqmOBdZw580qfRU01Q=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/timezone.min.js"
      integrity="sha512-3QnyXIdU85C6rOXhHzVsXinI5/qM/LniMr5actNRUwyp1Tuurw7rOn7fX7WWoNyZuM7KlQxITGQI4ITCgXKGQA=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
  </body>
</html>
