<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
      integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
      integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>AWS Auto Cleanup</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="img/logo.svg" alt="AWS Auto Cleanup" style="height: 18px" />
        </a>
        <h1>AWS Auto Cleanup</h1>
      </div>
    </nav>

    <!-- Body -->
    <div class="container body-container">
      <h2 class="title">Whitelist</h2>
      <div id="app">
        <div class="add-btn-wrap">
          <button
            class="button is-warning"
            v-on:click="openWhitelistInsertPopup()"
          >
            <i class="fas fa-plus-square"></i>&nbsp;Add New Whitelist Entry
          </button>
        </div>
        <table class="table" id="whitelist">
          <thead>
            <tr>
              <th>Resource ID</th>
              <th>Expiration</th>
              <th>Owner</th>
              <th>Comment</th>
              <th>Extend</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in whitelist" :key="item.id">
              <td>{{ item.resource_id }}</td>
              <td>{{ item.expiration_readable }}</td>
              <td>{{ item.owner }}</td>
              <td>{{ item.comment }}</td>
              <td>
                <a
                  v-if="item.expiration !== '99999999999'"
                  v-on:click="extendWhitelistEntry( item.id )"
                  class="button is-warning"
                >
                  <i class="fas fa-calendar-plus"></i>
                </a>
              </td>
              <td>
                <button
                  v-if="item.expiration !== '99999999999'"
                  v-on:click="deleteWhitelistEntry( item.resource_id )"
                  class="button is-danger"
                >
                  <i class="fas fa-minus-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Refreshing Animation -->
        <div
          v-show="show_whitelist_loading_gif"
          style="text-align: center; margin: 15px 0"
        >
          <img src="img/loading.gif" alt="" /> Loading whitelist...
        </div>
        <br />

        <!-- Execution Log -->
        <h2 class="title">Execution Logs</h2>

        <table class="table" id="execution_log_list_table">
          <thead>
            <th>Key</th>
            <th>Date</th>
            <th>View</th>
          </thead>
          <tbody>
            <tr
              v-for="item in execution_log_list"
              :value="item"
              :key="item.key"
            >
              <td>{{ item.key }}</td>
              <td>{{ item.date }}</td>
              <td>
                <a
                  v-on:click="openExecutionLog( item.key_escape )"
                  target="_blank"
                  class="button"
                  ><i class="fas fa-list-alt"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Refreshing Animation -->
        <div
          v-show="show_execution_log_list_loading_gif"
          style="text-align: center; margin: 15px 0"
        >
          <img src="img/loading.gif" alt="" /> Loading execution log...
        </div>

        <!-- Popup: Exec Log Table -->
        <div
          class="modal"
          v-bind:class="{ 'is-active': show_execution_log }"
          id="execlog-popup"
        >
          <div
            class="modal-background"
            v-on:click="closeExecutionLogPopup()"
          ></div>
          <div class="modal-content execlog-modal">
            <header class="modal-card-head">
              <p
                class="modal-card-title is-vcentered"
                style="line-height: unset !important"
              >
                <button
                  v-if="execution_log_mode === 'Destroy'"
                  class="button is-danger"
                >
                  {{execution_log_mode}}
                </button>
                <button
                  v-if="execution_log_mode === 'Dry Run'"
                  class="button is-success"
                >
                  {{execution_log_mode}}
                </button>
                {{execution_log_key}}
              </p>
              <button
                class="delete"
                aria-label="close"
                v-on:click="closeExecutionLogPopup()"
              ></button>
            </header>
            <div class="box" style="border-radius: 0px !important">
              <table class="table" id="execution_log_table">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>Region</th>
                    <th>Service</th>
                    <th>Resource</th>
                    <th>Resource ID</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in execution_log_table" :key="item.id">
                    <td>{{ item[6] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- .box -->
          </div>
          <!-- .model-content -->
        </div>

        <!-- Popup: Add Whitelist Rule -->
        <div
          class="modal"
          v-bind:class="{ 'is-active': show_whitelist_popup }"
          id="add-whitelist"
        >
          <div
            class="modal-background"
            v-on:click="closeWhitelistInsertPopup()"
          ></div>
          <div class="modal-card">
            <form action="#" v-on:submit.prevent="createWhitelistEntry()">
              <header class="modal-card-head">
                <p class="modal-card-title">Add New Whitelist Entry</p>
                <button
                  class="delete"
                  aria-label="close"
                  v-on:click="closeWhitelistInsertPopup()"
                ></button>
              </header>
              <section class="modal-card-body">
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Service</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            v-model="selected_service"
                            v-on:change="updateResourceList(selected_service)"
                          >
                            <option v-for="item of service_list">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="field">
                      <label class="label">Resource</label>
                      <div class="control">
                        <div class="select">
                          <select
                            required
                            v-model="selected_resource"
                            v-on:change="updateResourceID(selected_service, selected_resource)"
                          >
                            <option v-for="item of resource_list">
                              {{ item }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="column">
                    <div class="field">
                      <label class="label">ID</label>
                      <div class="control has-icons-left">
                        <input
                          :placeholder="[[ resource_id_placeholder ]]"
                          class="input"
                          required
                          type="text"
                          v-model="selected_resource_id"
                        />
                        <span class="icon is-small is-left"
                          ><i class="fas fa-id-card"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Owner</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      placeholder="@example.com"
                      required
                      type="email"
                      v-model="selected_owner"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Comment</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      required
                      type="text"
                      v-model="selected_comment"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-comment-alt"></i>
                    </span>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success">Add</button>
                <button class="button" v-on:click="closeWhitelistInsertPopup()">
                  Cancel
                </button>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <i class="fab fa-github"></i>
          <a href="https://github.com/servian/aws-auto-cleanup/"
            >&nbsp;servian/aws-auto-cleanup</a
          >
        </p>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
      integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/dayjs.min.js"
      integrity="sha512-u7elBfdMr+7LhU4rvUk3IM28QZDKTyUxba4Nx2IJ1W9cj4shfRSPq7EZXD2ULD9cBoizw2FQyeR6YBog6LcnHg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/utc.min.js"
      integrity="sha512-+lztPB4upMyG9pLdOWl8MFsBhXM1V9vFTDhXV3/4VSdoqpR5RfA2bNdrl8n0F9HmbzFkNqmOBdZw580qfRU01Q=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.3/plugin/timezone.min.js"
      integrity="sha512-3QnyXIdU85C6rOXhHzVsXinI5/qM/LniMr5actNRUwyp1Tuurw7rOn7fX7WWoNyZuM7KlQxITGQI4ITCgXKGQA=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
    ></script>
    <script src="js/custom.js"></script>
  </body>
</html>
