html {
  background: #fafafa;
}

.body-container {
  margin: 50px auto;
}

table.table {
  width: 100%;
}

tr .button,
::after,
::before {
  box-sizing: border-box !important;
}

td {
  vertical-align: middle !important;
}

.execution-log-modal {
  width: calc(100vw - 40px) !important;
  height: calc(100vh - 40px) !important;
}

.execution-log-modal .table {
  width: 100%;
}

.add-whitelist-modal {
  width: 700px !important;
}

.select,
select {
  width: 100%;
}

tr.dtrg-group {
  background-color: hsl(0, 0%, 98%);
  font-weight: bold;
}
