html {
  background: #fafafa;
}

.body-container {
  margin: 50px auto;
}

table.table {
  width: 100%;
}

.execution-log-modal {
  width: calc(100vw - 40px) !important;
}

.execution-log-modal .table {
  width: 100%;
}
