html {
  background: #fafafa;
}

.body-container {
  margin: 50px auto;
}

table.table {
  width: 100%;
  background-color: inherit !important;
}

tr .button {
  box-sizing: border-box !important;
}

::before {
  box-shadow: none !important;
}

td {
  vertical-align: middle !important;
}

td.dt-body-nowrap {
  white-space: nowrap;
}

td.dtr-control:before {
  background-color: #ffe08a !important;
  color: black !important;
  font-family: inherit !important;
  line-height: 0.89em !important;
  border-radius: 4px !important;
  border-color: inherit;
}

.execution-log-modal {
  width: calc(100vw - 40px) !important;
  height: calc(100vh - 40px) !important;
  overflow: overlay;
}

.execution-log-modal .table {
  width: 100%;
}

.add-allowlist-modal {
  width: 700px !important;
}

.select,
select {
  width: 100%;
}

tr.dtrg-group {
  background-color: hsl(0, 0%, 98%);
  font-weight: bold;
}

.remove-overflow {
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.message-header {
  font-weight: normal !important;
}
